
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: top;
    background: transparent none repeat scroll 0px 0px;
}

body {
    line-height: 1;
}

img, table {
    max-width: 100%;
/*    width: auto;*/
    height: auto;
}

a {
    color: rgb(18, 35, 204);
}

a:hover {
    text-decoration: none;
}

body {
    background: rgb(231, 231, 231) url('../img/ru_top10.png') repeat-x scroll 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    width: 990px;
    position: relative;
    margin: 0px auto;
}

.header {
    position: relative;
    padding-top: 20px;
    height: 200px;
}

.header .logo {
    display: block;
}

.header .date-now {
    position: absolute;
    right: 38px;
    top: 5px;
    font-weight: 700;
    font-size: 15px;
}

.content {
    background: rgb(255, 255, 255) none repeat scroll 0px 0px;
    border-radius: 10px;
    margin: 0px 0px 15px;
    overflow: hidden;
    padding: 20px;
    margin-top: 10px;
}
.content h1{
    color: rgb(15, 62, 237);
}
.sidebar {
    float: right;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    top: -65px;
}

.itemfirst {
    width: 249px;
    padding: 12px;
    background: rgb(241, 241, 241) none repeat scroll 0px 0px;
    border: 1px solid rgb(225, 225, 225);
    float: left;
}

.sidebar .author {
    overflow: hidden;
    padding: 0px 0px 15px;
}

.sidebar .author h3 {
    margin: 0px;
    text-decoration: underline;
}

.sidebar .author img {
    float: right;
}

.sidebar .author ul {
    position: relative;
    top: 21px;
    margin: 0px;
    font-weight: 700;
    padding: 0px 0px 0px 15px;
    overflow: hidden;
}
center img.max{
    max-width: 451px
}
.text {
    width: 655px;
    float: left;
    font-size: 15px;
    line-height: 1.2;
    text-align: justify;
    padding: 0px 15px 0px 0px;
}
.text div{
    text-align: justify;
}
.content h1 {
    font-size: 20px;
    width: 655px;
    margin: 0px 0px 25px;
    text-align: left;
}

.content h3 {
    font-size: 15px;
    margin: 15px 0px 10px;
}

.content p {
    margin: 0px 0px 15px;
    text-align: justify;
}
.prod_bar{
    max-width: 100px;
}
.content img {
    margin: 10px 0px;
}
.content img.prod{
    max-width: 150px;
}
#comments h1 {
    color: rgb(204, 0, 0);
    margin: 40px 0px 5px;
}
#comments center img{
    max-width: 300px;
    width: 100%;
}
#comments .descrip {
    margin: 0px 0px 25px;
}

.comment {
    padding: 15px 0px;
    border-top: 1px solid rgb(232, 232, 232);
}

.footer {
    margin: 0px 0px 25px;
    background: rgb(255, 255, 255) none repeat scroll 0px 0px;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    color: rgb(119, 119, 119);
}

.text11 {
    margin-top: -20px;
}

hr {
    border: 1px dashed rgb(204, 204, 204);
    margin-bottom: 26px;
}

img.avacom {
    width: 35px ! important;
    float: left;
    margin: 0px 10px 0px 0px ! important;
    border-radius: 6px;
    height: 35px;
}

hr + p {
    font-weight: 700;
}

a {
    color: rgb(36, 102, 226);
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.btn {
    text-align: center;
}

.btn a {
    text-align: center;
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    background-color: #ffec64;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333 !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.btn a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
}

@media screen and (max-width: 999px) {
    .container {
        width: 750px;
    }

    .header {
        height: auto;
    }

    .sidebar {
        display: none;
    }

    .content h1 {
        width: auto;
        text-align: center;
    }

    .text {
        width: auto;
        float: none;
        font-size: 16px;
        padding: 1px;
    }
}

@media screen and (max-width: 767px) {
    .content img.prod{
        max-width: 150px;
    }
    .container {
        width: 470px;
    }

    .text11 {
        margin-top: 5px;
    }

    .content p {
        text-align: left;
    }
}

@media screen and (max-width: 479px) {
    .content img{width: 100%}
    .container {
        width: 310px;
    }


    .header {
        background: transparent url('../img/logo-320.jpg') no-repeat scroll center 20px / 310px auto;
        height: 70px;
    }



    .btn a {
        font-size: 16px;
    }
}

@media screen and (max-width: 319px) {
    .container {
        width: 280px;
    }

    .content {
        padding: 20px 10px;
    }

    .header {
        background-size: 230px auto;
        height: 133px;
    }
}
